* {
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
    margin: 0;
}
body {
    color: #fff;
    background-image: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 35px 0;
}
.h-cont {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 22px;
    background-color: inherit;
    border: 2px solid #fff;
    border-radius: 15px;
}
.h-cont h1 {
    font-size: 40px;
    line-height: 32px;
}
.score-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 15px 0;
    border-radius: 10px;
    height: 100%;
    width: 150px;
}
.score-cont h4 {
    color: hsl(229, 64%, 46%);
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
}
.score {
    font-size: 60px;
    font-weight: 900;
    color: hsl(229, 25%, 31%);
    margin: -5px 0;
}
main {
    width: 100%;
    height: 420px;
    margin-top: 35px;
    justify-content: space-between;
    
}
#main-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: center calc(50% + 20px);
}
#main-2 {
    width: 100%;
    display: none;
    justify-content: center;
}
.pick {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ppr-n-scsr {
    width: 472px;
    display: flex;
    justify-content: space-between;
}
.move {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    position: relative;
}
.move:hover {
    cursor: pointer;
}
svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
img {
    z-index: 1;
    width: 32%;
}
.paper {
    border: 10px solid linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}
.scissors {
    border: 10px solid linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}
.rock {
    border: 10px solid linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}
.pick h4 {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
}
.pick .move {
    height: 300px;
    width: 300px;
}
.pick .move svg {
    width: 300px;
    height: 300px;
}
.user {
    padding-right: 42px;
}
.house {
    padding-left: 42px;
}
.plc-hldr-crcl {
    height: 228px;
    width: 228px;
    background-color: #161F3E;
    border-radius: 50%;
    margin: 36px;
}
.result-cont {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 20px 0 20px;
}
.result {
    font-size: 55px;
    font-weight: 900;
    padding-bottom: 15px;
}
.restart {
    width: 100%;
    color: hsl(229, 25%, 31%);
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 12px 0;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
}
.restart:hover {
    cursor: pointer;
    color: hsl(349, 70%, 56%);
}
footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 27px 28px 27px;
}
.rules {
    padding: 10px 25px;
    border: 1px solid #fff;
    border-radius: 7px;
    
}
.rules:hover {
    cursor: pointer;
}
.rules-display {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 416px;
    width: 400px;
    position: absolute;
    top: calc(50% - 208px);
    left: calc(50% - 200px);
    z-index: 2;
    background-color: #fff;
    border-radius: 7px;
}
.rd-1 {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.rd-1 span {
    color: hsl(229, 25%, 31%);
    font-size: 35px;
    font-weight: 900;
}
.rd-1-btn {
    color: #999;
    font-size: 30px;
    font-weight: 700;
    border: none;
    background-color: inherit;
}
.rd-1-btn:hover {
    cursor: pointer;
    color: #666;
}
.rules-display img {
    width: 85%;
    padding-bottom: 15px;
}
@media screen and (max-width: 768px) {
    #main-1 {
        background-size: 260px;
        padding: 45px 0;
        margin-top: 0;
    }
    .h-cont {
        width: 90%;
    }
    .h-cont h1 {
        padding-right: 22px;
    }
    .ppr-n-scsr {
        width: 350px;
    }
    .move {
        width: 150px;
        height: 150px;
    }
    .move svg {
        width: 150px;
        height: 150px;
    }
    .move img {
        width: 50px;
    }
    #main-2 {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 385px;
    }
    .picks-cont {
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .pick {
        flex-direction: column-reverse;
        align-items: center;
    }
    .pick h4 {
        padding-top: 25px;
    }
    .pick .move {
        height: 150px;
        width: 150px;
    }
    .pick .move svg {
        height: 150px;
        width: 150px;
    }
    .plc-hldr-crcl {
        height: 150px;
        width: 150px;
        margin: 0;
    }
    .result-cont {
        display: flex;
        visibility: hidden;
        padding: 0;
    }
    footer {
        padding-top: 50px;
        justify-content: center;
    }
    .rules-display {
        position: absolute;
        top: 0;
        left: 0;
        height: 746px;
        width: 100%;
    }
    .rd-1 {
        justify-content: center;
    }
    .rules-display img {
        padding: 90px 0;
    }
}